<script src="https://kit.fontawesome.com/7d3eb16c09.js" crossorigin="anonymous"></script>
<h1 >Strona logowania</h1>
<br>
<div style="margin-left: auto;margin-right: auto;width: 30%;border: 5px solid rgb(143, 246, 255); border-radius: 15px;">
<div>Login:</div>
<input type="text" style="color: gray;margin-bottom: 10px;">
<div>Password:</div>
<input type="text" style="color: gray;margin-bottom: 10px">
<br><button style="margin-bottom: 10px;">Zaloguj</button>
<div id="placeholder"></div>

<app-user></app-user>
</div>

