<div class="mt-3"></div>
<div class="list-group p-3 ml-4 mr-4" *ngFor="let a of events">
  <a (click)="GetOwner(a.ownerusername)" class="animated bounceIn border border-warning list-group-item bg-warning list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <div class="col">
        <h1 class="mb-1 text-dark">{{a.title}}</h1>
        <p class="mb-1 text-dark">{{a.description}}</p>
        <small class="text-black-50">#{{a.id}}</small>
      </div>

      <div class="col-4 text-right">
        <h4 class="text-dark">{{a.ownerusername}}</h4>
        <h6 class="text-dark bg-warning">Utworzono: {{a.created}}</h6>
      <h6 class="text-dark bg-warning">Data: {{a.ends}}</h6>
    </div>
    </div>

  </a>
</div>
<div id="bck"></div>
